<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.csaserver.mapper.LinkMapper">

    <resultMap id="BaseResultMap" type="edu.scu.csaserver.domain.Link">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="source_node_id" column="source_node_id" jdbcType="INTEGER"/>
            <result property="target_node_id" column="target_node_id" jdbcType="INTEGER"/>
            <result property="link_name" column="link_name" jdbcType="VARCHAR"/>
            <result property="bandwidth" column="bandwidth" jdbcType="FLOAT"/>
            <result property="delay" column="delay" jdbcType="FLOAT"/>
            <result property="lose_package" column="lose_package" jdbcType="DECIMAL"/>
            <result property="sn" column="sn" jdbcType="FLOAT"/>
            <result property="link_type" column="link_type" jdbcType="INTEGER"/>
            <result property="spectrum_utilization" column="spectrum_utilization" jdbcType="DECIMAL"/>
            <result property="channel_sum" column="channel_sum" jdbcType="INTEGER"/>
            <result property="protocol_level" column="protocol_level" jdbcType="INTEGER"/>
            <result property="protocol_type" column="protocol_type" jdbcType="INTEGER"/>
            <result property="init_weight" column="init_weight" jdbcType="DECIMAL"/>
            <result property="gmt_create" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmt_modified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,source_node_id,target_node_id,
        link_name,bandwidth,delay,
        lose_package,sn,link_type,
        spectrum_utilization,channel_sum,protocol_level,
        protocol_type,init_weight,gmt_create,
        gmt_modified
    </sql>
</mapper>
