<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.csaserver.mapper.NodeMapper">

    <resultMap id="BaseResultMap" type="edu.scu.csaserver.domain.Node">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="node_ip" column="node_ip" jdbcType="VARCHAR"/>
            <result property="node_mac" column="node_mac" jdbcType="VARCHAR"/>
            <result property="node_vlan" column="node_vlan" jdbcType="INTEGER"/>
            <result property="node_name" column="node_name" jdbcType="VARCHAR"/>
            <result property="physical_type" column="physical_type" jdbcType="INTEGER"/>
            <result property="logical_type" column="logical_type" jdbcType="INTEGER"/>
            <result property="spectrum_floor" column="spectrum_floor" jdbcType="DOUBLE"/>
            <result property="spectrum_top" column="spectrum_top" jdbcType="DOUBLE"/>
            <result property="spectrum_availability" column="spectrum_availability" jdbcType="DECIMAL"/>
            <result property="throughput" column="throughput" jdbcType="INTEGER"/>
            <result property="compute_performance" column="compute_performance" jdbcType="INTEGER"/>
            <result property="hardware_type" column="hardware_type" jdbcType="INTEGER"/>
            <result property="service_sum" column="service_sum" jdbcType="INTEGER"/>
            <result property="vulnerability_sum" column="vulnerability_sum" jdbcType="INTEGER"/>
            <result property="controllable_level" column="controllable_level" jdbcType="INTEGER"/>
            <result property="gmt_create" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmt_modified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,node_ip,node_mac,
        node_vlan,node_name,physical_type,
        logical_type,spectrum_floor,spectrum_top,
        spectrum_availability,throughput,compute_performance,
        hardware_type,service_sum,vulnerability_sum,
        controllable_level,gmt_create,gmt_modified
    </sql>
</mapper>
