<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.csaserver.mapper.NodeServiceMapper">

    <resultMap id="BaseResultMap" type="NodeService">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="nodeId" column="node_id" jdbcType="INTEGER"/>
            <result property="serviceId" column="service_id" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="serviceControllable" column="service_controllable" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,node_id,service_id,
        gmt_create,service_controllable
    </sql>
    <select id="serviceCount" resultType="ServiceCount">
        WITH t_service_count(service_id, service_count) AS
                 (SELECT
                      service_id,
                      COUNT( id ) AS service_count
                  FROM
                      node_service
                  GROUP BY
                      service_id)
        SELECT
            service_id,
            service_name,
            service_count
        FROM
            service_net AS a,
            t_service_count AS b
        WHERE
            a.id = b.service_id;
    </select>

    <select id="serviceVulCount" resultType="edu.scu.csaserver.domain.vo.Count">
        WITH vulnerability_count ( service_id, running_num ) AS (
            SELECT
                service_id,
                COUNT( service_id ) AS running_num
            FROM
                node_service
            GROUP BY service_id )
        SELECT
            service_name AS count_name,
            a.running_num * b.service_vulnerability_sum AS count_value
        FROM
            vulnerability_count AS a,
            service_net AS b
        WHERE
            b.id = a.service_id;
    </select>
</mapper>
