<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.csaserver.mapper.ServiceNetMapper">

    <resultMap id="BaseResultMap" type="edu.scu.csaserver.domain.ServiceNet">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="service_name" column="service_name" jdbcType="VARCHAR"/>
            <result property="service_port" column="service_port" jdbcType="INTEGER"/>
            <result property="service_version" column="service_version" jdbcType="VARCHAR"/>
            <result property="service_vulnerability_sum" column="service_vulnerability_sum" jdbcType="INTEGER"/>
            <result property="service_safety_level" column="service_safety_level" jdbcType="VARCHAR"/>
            <result property="gmt_create" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmt_modified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_name,service_port,
        service_version,service_vulnerability_sum,service_safety_level,
        gmt_create,gmt_modified
    </sql>
</mapper>
