<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scu.csaserver.mapper.SubNetworkMapper">

    <resultMap id="BaseResultMap" type="edu.scu.csaserver.domain.SubNetwork">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sub_network_name" column="sub_network_name" jdbcType="VARCHAR"/>
            <result property="physical_type" column="physical_type" jdbcType="INTEGER"/>
            <result property="logical_type" column="logical_type" jdbcType="INTEGER"/>
            <result property="node_sum" column="node_sum" jdbcType="INTEGER"/>
            <result property="link_sum" column="link_sum" jdbcType="INTEGER"/>
            <result property="node_connectivity" column="node_connectivity" jdbcType="INTEGER"/>
            <result property="link_connectivity" column="link_connectivity" jdbcType="INTEGER"/>
            <result property="reliability" column="reliability" jdbcType="DECIMAL"/>
            <result property="vulnerability_sum" column="vulnerability_sum" jdbcType="INTEGER"/>
            <result property="gmt_create" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmt_modified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sub_network_name,physical_type,
        logical_type,node_sum,link_sum,
        node_connectivity,link_connectivity,reliability,
        vulnerability_sum,gmt_create,gmt_modified
    </sql>
</mapper>
